.info {
  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }
}

.hoverCard {
  @mixin hover {
    transform: scale(1.1);
    transition-duration: 1s;
  }
}

@keyframes leaves {
  0% {
    transform: scale(1);
    
  }
  100% {
    transform: scale(1.1);
  }
}

.detail {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-8)
  );
}
